# Estudo em Data Wrangling - 
## Este notebook utiliza a biblioteca pandas para realizar o tratamento de uma base de dados

### Site:       https://filipedeabreu.com

### Autor:      Filipe de Abreu

### Manutenção:  Filipe de Abreu

<hr>

# Testado em
### OS: Windows 11                                      
### Versão do python: 3.12.7

In [3]:
# Carregando os pacotes
import pandas as pd

In [64]:
# Carregando os datasets

dados_filmes = pd.read_csv('(5.2) Filmes Streaming.csv', sep=',')
dados_series = pd.read_csv('(5.3) Séries Streaming.csv', sep=',')

dados_filmes.info()
dados_filmes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   IMDb             9309 non-null   object
 6   Rotten Tomatoes  9508 non-null   object
 7   Netflix          9515 non-null   int64
 8   Hulu             9515 non-null   int64
 9   Prime Video      9515 non-null   int64
 10  Disney+          9515 non-null   int64
 11  Type             9515 non-null   int64
 12  Directors        9104 non-null   object
 13  Genres           9399 non-null   object
 14  Country          9261 non-null   object
 15  Language         9185 non-null   object
 16  Runtime          9196 non-null   float64
dtypes: float64(1), int64(8), object(8)
memory usage: 1.2+ MB

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,Martin Scorsese,"Biography,Crime,Drama",United States,"English,Italian,Latin,Spanish,German",209.0
1,1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,Nitesh Tiwari,"Action,Biography,Drama,Sport","India,United States,United Kingdom,Australia,K...","Hindi,English",161.0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,"Alastair Fothergill,Jonathan Hughes,Keith Scholey","Documentary,Biography",United Kingdom,English,83.0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,Ashutosh Gowariker,"Drama,Musical,Sport","India,United Kingdom","Hindi,English",224.0
4,4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,NaN,"Action,Drama,History,Romance,War","United Kingdom,United States",English,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9510,9510,9511,Most Wanted Sharks,2020,NaN,NaN,14/100,0,0,0,1,0,NaN,"Crime,Reality-TV",United States,"Greek,English",NaN
9511,9511,9512,Doc McStuffins: The Doc Is In,2020,NaN,NaN,13/100,0,0,0,1,0,Chris Anthony Hamilton,Animation,United States,English,23.0
9512,9512,9513,Ultimate Viking Sword,2019,NaN,NaN,13/100,0,0,0,1,0,NaN,NaN,United States,NaN,NaN
9513,9513,9514,Hunt for the Abominable Snowman,2011,NaN,NaN,10/100,0,0,0,1,0,Dan Oliver,"Drama,History",NaN,NaN,NaN
9514,9514,9515,Women of Impact: Changing the World,2019,7+,NaN,10/100,0,0,0,1,0,Lisa Feit,Documentary,United States,English,NaN

In [65]:
dados_filmes.info()
dados_series

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   IMDb             9309 non-null   object
 6   Rotten Tomatoes  9508 non-null   object
 7   Netflix          9515 non-null   int64
 8   Hulu             9515 non-null   int64
 9   Prime Video      9515 non-null   int64
 10  Disney+          9515 non-null   int64
 11  Type             9515 non-null   int64
 12  Directors        9104 non-null   object
 13  Genres           9399 non-null   object
 14  Country          9261 non-null   object
 15  Language         9185 non-null   object
 16  Runtime          9196 non-null   float64
dtypes: float64(1), int64(8), object(8)
memory usage: 1.2+ MB

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [66]:
#Verificou-se que existem variaveis diferentes em ambos os datasets, criando dataframe para comparação das colunas
df_columns = pd.DataFrame({
    'Filmes': dados_filmes.columns,         
})

df_columns_series = pd.DataFrame({
    'Series': dados_series.columns,         
})

new = pd.concat([df_columns, df_columns_series], axis=1)
new

             Filmes           Series
0        Unnamed: 0       Unnamed: 0
1                ID               ID
2             Title            Title
3              Year             Year
4               Age              Age
5              IMDb             IMDb
6   Rotten Tomatoes  Rotten Tomatoes
7           Netflix          Netflix
8              Hulu             Hulu
9       Prime Video      Prime Video
10          Disney+          Disney+
11             Type             Type
12        Directors              NaN
13           Genres              NaN
14          Country              NaN
15         Language              NaN
16          Runtime              NaN

In [67]:
#Verificando a quantidade de variaveis e cada dataframe
print(f'''
{dados_filmes.shape[1]}
{dados_series.shape[1]}
'''
)

17
12

In [68]:
# Selecionado colunas e realizando a junção dos bancos de dados

# Os dois datasets têm estruturas semelhantes quanto às variáveis
# Porém, o dataset sobre filmes tem colunas a mais
# Vamos fazer uma rápida organização dos datasets e juntá-los

# Seleção das variáveis de interesse
dados_filmes = dados_filmes.iloc[:,0:12]

# Junção dos dados
dados_completo = pd.concat([dados_filmes, dados_series], ignore_index=True)

# Remoção da variável Unnamed: 0
dados_completo.drop(columns=['Unnamed: 0'], inplace=True)

dados_completo

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0
1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0
4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14878,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
14879,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
14880,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
14881,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
14882,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

Como o valor da variavel 'type' para filmes é 0 e para séries é 1, fica fácil identificar e extrair informações independente se for série ou filme

In [69]:
# Extrair as notas do texto

# Extrair as notas e Ajustar a string e transformar para float
dados_completo['Ajuste_IMDB'] = dados_completo['IMDb'].str.slice(0, 3).astype('float')
dados_completo['Ajuste_Rotten'] = dados_completo['Rotten Tomatoes'].str.slice(0, 2).astype('float')

dados_completo

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Ajuste_IMDB,Ajuste_Rotten
0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,7.8,98.0
1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,8.4,97.0
2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,9.0,95.0
3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,8.1,94.0
4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,7.7,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14878,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14879,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14880,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14881,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14882,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0

In [70]:
# Gerando estatísticas sobre as notas

# Atribuindo labels
muda_numeros = {0: 'filme', 1: 'série'}
dados_completo = dados_completo.assign(tipo = dados_completo.Type.map(muda_numeros))

# Agrupando o dataset
descritivas = dados_completo.groupby(['tipo'])

# Gerando estatísticas por variável
descritivas['Ajuste_IMDB'].describe().T
descritivas['Ajuste_Rotten'].describe().T

tipo         filme        série
count  9508.000000  5368.000000
mean     53.545015    47.186848
std      13.197673    19.542378
min      10.000000    10.000000
25%      44.000000    36.000000
50%      52.000000    48.000000
75%      62.000000    60.000000
max      98.000000    96.000000

In [71]:
# Criando um indicador dos "melhores" filmes e séries

# Separando o banco de dados
melhores_series = dados_completo[dados_completo['tipo']=='série']
melhores_filmes = dados_completo[dados_completo['tipo']=='filme']

In [72]:
# Séries

# Irei identificar aqueles que estão com melhores notas nas duas avaliações utilizando o percentil de 95
melhores_series[['Ajuste_IMDB', 'Ajuste_Rotten']].quantile(0.95)

Ajuste_IMDB       8.5
Ajuste_Rotten    79.0
Name: 0.95, dtype: float64

In [73]:
# Gerando os dados

melhores_series = melhores_series.assign(Categ_IMDB = pd.qcut(melhores_series.Ajuste_IMDB,
                                                              q=[0, 0.95, 1.0],
                                                              labels=['menores',
                                                                      'maiores']))

melhores_series = melhores_series.assign(Categ_Rotten = pd.qcut(melhores_series.Ajuste_Rotten,
                                                                q=[0, 0.95, 1.0],
                                                                labels=['menores',
                                                                        'maiores']))

melhores_series = melhores_series[(melhores_series['Categ_IMDB']=='maiores') &
                                  (melhores_series['Categ_Rotten']=='maiores')].sort_values(['Ajuste_Rotten', 'Ajuste_IMDB'], ascending=False)


melhores_series

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Ajuste_IMDB,Ajuste_Rotten,tipo,Categ_IMDB,Categ_Rotten
9516,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1,8.7,96.0,série,maiores,maiores
9517,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1,9.0,95.0,série,maiores,maiores
9518,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1,8.8,94.0,série,maiores,maiores
14573,5377,The Mandalorian,2019,16+,8.8/10,94/100,0,0,0,1,1,8.8,94.0,série,maiores,maiores
9520,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1,9.3,93.0,série,maiores,maiores
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11529,2040,Peep Show,2003,18+,8.6/10,81/100,0,1,1,0,1,8.6,81.0,série,maiores,maiores
11541,2057,Cowboy Bebop,1998,16+,8.9/10,80/100,0,1,0,0,1,8.9,80.0,série,maiores,maiores
9630,116,Anne with an E,2017,all,8.7/10,80/100,1,0,0,0,1,8.7,80.0,série,maiores,maiores
9624,110,Sacred Games,2018,18+,8.6/10,80/100,1,0,0,0,1,8.6,80.0,série,maiores,maiores
12993,3634,Endeavour,2013,16+,8.6/10,80/100,0,0,1,0,1,8.6,80.0,série,maiores,maiores

In [74]:
# Filmes

# Vamos identificar aqueles que estão com melhores notas nas duas avaliações
# Vamos usar o percentil 95 das notas como referência
melhores_filmes[['Ajuste_IMDB', 'Ajuste_Rotten']].quantile(0.95)

# Gerando os dados

melhores_filmes = melhores_filmes.assign(Categ_IMDB = pd.qcut(melhores_filmes.Ajuste_IMDB,
                                                              q=[0, 0.95, 1.0],
                                                              labels=['menores',
                                                                      'maiores']))

melhores_filmes = melhores_filmes.assign(Categ_Rotten = pd.qcut(melhores_filmes.Ajuste_Rotten,
                                                                q=[0, 0.95, 1.0],
                                                                labels=['menores',
                                                                        'maiores']))

melhores_filmes = melhores_filmes[(melhores_filmes['Categ_IMDB']=='maiores') &
                                  (melhores_filmes['Categ_Rotten']=='maiores')].sort_values(['Ajuste_IMDB', 'Ajuste_Rotten'], ascending=False)


melhores_filmes.head(30)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Ajuste_IMDB,Ajuste_Rotten,tipo,Categ_IMDB,Categ_Rotten
2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,9.0,95.0,filme,maiores,maiores
3695,3696,The Dark Knight,2008,13+,9.0/10,94/100,0,1,0,0,0,9.0,94.0,filme,maiores,maiores
4703,4704,Fight Club,1999,18+,8.8/10,93/100,0,0,1,0,0,8.8,93.0,filme,maiores,maiores
138,139,Bo Burnham: Inside,2021,18+,8.8/10,81/100,1,0,0,0,0,8.8,81.0,filme,maiores,maiores
8619,8620,Star Wars: The Empire Strikes Back,1980,7+,8.7/10,89/100,0,0,0,1,0,8.7,89.0,filme,maiores,maiores
8618,8619,Star Wars: A New Hope,1977,7+,8.6/10,89/100,0,0,0,1,0,8.6,89.0,filme,maiores,maiores
3697,3698,Parasite,2019,18+,8.6/10,88/100,0,1,0,0,0,8.6,88.0,filme,maiores,maiores
4722,4723,It's a Wonderful Life,1946,7+,8.6/10,84/100,0,0,1,0,0,8.6,84.0,filme,maiores,maiores
18,19,Black Friday,2004,18+,8.5/10,90/100,1,0,0,0,0,8.5,90.0,filme,maiores,maiores
24,25,The Departed,2006,18+,8.5/10,89/100,1,0,0,0,0,8.5,89.0,filme,maiores,maiores
26,27,Terminator 2: Judgment Day,1991,18+,8.5/10,89/100,1,0,0,0,0,8.5,89.0,filme,maiores,maiores
8622,8623,The Lion King,1994,all,8.5/10,89/100,0,0,0,1,0,8.5,89.0,filme,maiores,maiores
38,39,The Intouchables,2011,7+,8.5/10,88/100,1,0,0,0,0,8.5,88.0,filme,maiores,maiores
44,45,No Direction Home: Bob Dylan,2005,all,8.5/10,87/100,1,0,0,0,0,8.5,87.0,filme,maiores,maiores
55,56,The Pianist,2002,18+,8.5/10,86/100,1,0,0,0,0,8.5,86.0,filme,maiores,maiores
4715,4716,Mahanati,2018,7+,8.5/10,86/100,0,0,1,0,0,8.5,86.0,filme,maiores,maiores
4717,4718,Rear Window,1954,7+,8.5/10,85/100,0,0,1,0,0,8.5,85.0,filme,maiores,maiores
77,78,Dave Chappelle: Sticks & Stones,2019,18+,8.5/10,84/100,1,0,0,0,0,8.5,84.0,filme,maiores,maiores
3716,3717,Once Upon a Time in the West,1968,13+,8.5/10,83/100,0,1,0,0,0,8.5,83.0,filme,maiores,maiores
114,115,Springsteen On Broadway,2018,NaN,8.5/10,82/100,1,0,0,0,0,8.5,82.0,filme,maiores,maiores
1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,8.4,97.0,filme,maiores,maiores
8616,8617,Avengers: Endgame,2019,13+,8.4/10,90/100,0,0,0,1,0,8.4,90.0,filme,maiores,maiores
8617,8618,Avengers: Infinity War,2018,13+,8.4/10,90/100,0,0,0,1,0,8.4,90.0,filme,maiores,maiores
25,26,Winter on Fire: Ukraine's Fight for Freedom,2015,16+,8.4/10,89/100,1,0,0,0,0,8.4,89.0,filme,maiores,maiores
28,29,Django Unchained,2012,18+,8.4/10,89/100,1,0,0,0,0,8.4,89.0,filme,maiores,maiores
4709,4710,Alien,1979,18+,8.4/10,88/100,0,0,1,0,0,8.4,88.0,filme,maiores,maiores
8623,8624,WALL·E,2008,all,8.4/10,88/100,0,0,0,1,0,8.4,88.0,filme,maiores,maiores
47,48,Super Deluxe,2019,18+,8.4/10,87/100,1,0,0,0,0,8.4,87.0,filme,maiores,maiores
8631,8632,Coco,2017,7+,8.4/10,87/100,0,0,0,1,0,8.4,87.0,filme,maiores,maiores
56,57,3 Idiots,2009,13+,8.4/10,86/100,1,0,0,0,0,8.4,86.0,filme,maiores,maiores