# Calculando a diferença percentual do valor do bitcoin entre os dias

In [2]:
#Importando a função criada no arquivo #pegar_historico.py
from pegar_historico import pegar_historico
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [12]:


#Testando a função para o par de trding BTCBRL
par = "BTCBRL"
intervalo = "1d"
data_inicio = "22 Jul 2025"

df_btcbrl = pegar_historico(
        par,
        intervalo,
        data_inicio
    )

df_btcbrl

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2025-07-22,655658.0,669702.0,648684.0,667462.0,124.10984,1753228799999,82149815.01137000,28345,61.19086000,40508724.34780000,0
1,2025-07-23,667414.0,668314.0,650000.0,650460.0,57.41674,1753315199999,37772818.58681000,15220,26.96314000,17733743.15988000,0

In [18]:
oqueinteressa = df_btcbrl[
    ['timestamp','close']
]

oqueinteressa['diferença_percentual'] = oqueinteressa['close'].pct_change() * 100
oqueinteressa

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_4084\624293516.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oqueinteressa['diferença_percentual'] = oqueinteressa['close'].pct_change() * 100

   timestamp     close  diferença_percentual
0 2025-07-22  667462.0                   NaN
1 2025-07-23  650460.0             -2.547261