In [4]:
import matplotlib.pyplot as plt
import plotly.express as px
from binance.client import Client
import seaborn as sns
import numpy as np
from pegar_historico import pegar_historico

In [6]:
par = "BTCBRL"
intervalo = "1d"
data_inicio = "1 Jan 2025"

df_btcbrl = pegar_historico(
        par,
        intervalo,
        data_inicio
    )

df_btcbrl.head(5)

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2025-01-01,583135.0,591233.0,579057.0,588693.0,72.14957,1735775999999,42310167.57540000,21358,41.00811000,24046544.55393000,0
1,2025-01-02,588635.0,607111.0,587263.0,599306.0,166.56756,1735862399999,99793602.55375000,47531,78.05491000,46770433.42530000,0
2,2025-01-03,599363.0,613793.0,594140.0,607582.0,128.54397,1735948799999,77592339.31612000,39792,61.49631000,37100120.06508000,0
3,2025-01-04,607593.0,612902.0,604369.0,609413.0,64.64526,1736035199999,39296764.14958000,27377,31.38893000,19078907.64598000,0
4,2025-01-05,609412.0,613000.0,604300.0,611273.0,58.20556,1736121599999,35453798.90673000,22973,27.81086000,16944045.55734000,0

In [46]:
# Seleciona apenas as colunas 'close' e 'high' do DataFrame original (df_btcbrl)
# Essas colunas representam o preço de fechamento e o preço máximo de cada candle (geralmente diário ou por minuto)
df_ch = df_btcbrl[['close', 'high']]

# Cria uma nova coluna chamada 'diferenca' no DataFrame df_ch
# Essa coluna calcula a diferença percentual entre o valor máximo (high) e o valor de fechamento (close)
# A fórmula é: ((high - close) / high) * 100
# Isso indica o quanto o preço de fechamento ficou abaixo do topo do candle, em porcentagem
df_ch['diferenca'] = (
    (df_ch['high'] - df_ch['close']) / df_ch['high']
) * 100

# Exibe as 10 primeiras linhas do DataFrame df_ch, já com a nova coluna 'diferenca'
# Útil para verificar os valores calculados e garantir que tudo está correto
df_ch.head(10)

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_10428\3556281099.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      close      high  diferenca
0  588693.0  591233.0   0.429611
1  599306.0  607111.0   1.285597
2  607582.0  613793.0   1.011905
3  609413.0  612902.0   0.569259
4  611273.0  613000.0   0.281729
5  623526.0  628380.0   0.772463
6  595655.0  627017.0   5.001778
7  584795.0  598053.0   2.216860
8  562606.0  586951.0   4.147706
9  581627.0  585901.0   0.729475

In [48]:
#🧠 O que está acontecendo aqui:
# Acessa a coluna 'diferenca' que você criou anteriormente, contendo a diferença percentual entre o preço máximo (high) e o preço de fechamento (close) 
#de cada candle.

#.mean() Calcula a média (média aritmética) de todos os valores dessa coluna. Ou seja, está respondendo à pergunta:
#“Em média, quanto o preço de fechamento ficou abaixo do topo dos candles analisados?”

round(
    df_ch['diferenca'].mean(),
    4
)

1.6891