### Banco maquina local

Nesse notebook, ao invez de utilizar uma VPS da AWS, esse banco está instalado em uma maquina física

In [1]:
#importações

import pandas as pd
import pyodbc
from datetime import datetime
from pegar_historico import pegar_historico
from dotenv import load_dotenv
import os
from datetime import date

In [3]:


#Parametros para estabecer a conexão com o banco
load_dotenv() 

connection_string = f"""
    DRIVER={{ODBC Driver 18 for SQL Server}};
    SERVER={os.getenv('DB_HOST')},{os.getenv('DB_PORT')};
    DATABASE={os.getenv('DB_NAME')};
    UID={os.getenv('DB_USER')};
    PWD={os.getenv("DB_PASSWORD")};
    Encrypt=yes;
    TrustServerCertificate=yes;
"""

## Todavia é interessante criar um banco e tabela nova utilizando essa conexao

In [20]:
# Conectando ao servidor, usando o banco 'master' (obrigatório para criar novos databases)

# Abrir conexão
conn = pyodbc.connect(connection_string, autocommit=True)
cursor = conn.cursor()

# Nome do novo banco de dados
new_db_name = 'bitcoin_stats'

# Comando para criar o banco
create_db_query = f"CREATE DATABASE {new_db_name};"

try:
    cursor.execute(create_db_query)
    print(f"Banco de dados '{new_db_name}' criado com sucesso!")
except Exception as e:
    print("Erro ao criar banco de dados:", e)

# Fechar conexão
cursor.close()
conn.close()

Banco de dados 'bitcoin_stats' criado com sucesso!

## Checando se o novo banco foi criado

In [43]:
#Primeiro, checo quais tabelas já existem no banco
def checa_bancos_existentes():
    conn = pyodbc.connect(connection_string, autocommit=True)
    #Query para checar os bancos existentes
    query = """
    SELECT 
        name
    FROM sys.databases; 
    """
    
    df = pd.read_sql(query, conn)
    
    conn.close()
    
    return df

checa_bancos_existentes()

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_22412\1738049834.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

            name
0         master
1         tempdb
2          model
3           msdb
4       DW_SUCOS
5  bitcoin_stats

In [53]:
#Crio a nova tabela
conn = pyodbc.connect(connection_string, autocommit=True)
cursor = conn.cursor()

crate_table_query = """
CREATE TABLE bitcoin_stats.dbo.bitcoin_prices(
    id INT IDENTITY(1,1) PRIMARY KEY,
    symbol VARCHAR(10),
    timestamp DATETIME,
    [open] DECIMAL(18, 8),
    [high] DECIMAL(18, 8),
    [low] DECIMAL(18, 8),
    [close] DECIMAL(18, 8),
    volume DECIMAL(18, 8)
);
"""

try:
    cursor.execute(crate_table_query)
    print("Tabela crada com sucesso")
except Exception as e:
    print("Erro ao criar tabela", e)

cursor.close()
conn.close()

Tabela crada com sucesso

## Checando agora se a tabela foi criada

In [6]:
#Primeiro, checo quais tabelas já existem no banco
def checa_tabelas_existentes():
    conn = pyodbc.connect(connection_string, autocommit=True)
    #Query para checar os bancos existentes
    query = """
    SELECT 
        TABLE_NAME
    FROM bitcoin_stats.INFORMATION_SCHEMA.TABLES; 
    """
    
    df = pd.read_sql(query, conn)
    
    conn.close()
    
    return df

checa_tabelas_existentes()

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_30408\3350115091.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

       TABLE_NAME
0  bitcoin_prices

## Criando o dataframe

In [3]:
par = "BTCBRL"
intervalo = "1d"
data_inicio = "1 Jan 2025"

df_btcbrl = pegar_historico(
        par,
        intervalo,
        data_inicio
    )

df_btcbrl.head(5)

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2025-01-01,583135.0,591233.0,579057.0,588693.0,72.14957,1735775999999,42310167.57540000,21358,41.00811000,24046544.55393000,0
1,2025-01-02,588635.0,607111.0,587263.0,599306.0,166.56756,1735862399999,99793602.55375000,47531,78.05491000,46770433.42530000,0
2,2025-01-03,599363.0,613793.0,594140.0,607582.0,128.54397,1735948799999,77592339.31612000,39792,61.49631000,37100120.06508000,0
3,2025-01-04,607593.0,612902.0,604369.0,609413.0,64.64526,1736035199999,39296764.14958000,27377,31.38893000,19078907.64598000,0
4,2025-01-05,609412.0,613000.0,604300.0,611273.0,58.20556,1736121599999,35453798.90673000,22973,27.81086000,16944045.55734000,0

In [107]:
columns = df_btcbrl.columns[0:6]

df_btcbrl = df_btcbrl[columns]

df_btcbrl['symbol'] = 'btc'

df_btcbrl

     timestamp      open      high       low     close     volume symbol
0   2025-01-01  583135.0  591233.0  579057.0  588693.0   72.14957    btc
1   2025-01-02  588635.0  607111.0  587263.0  599306.0  166.56756    btc
2   2025-01-03  599363.0  613793.0  594140.0  607582.0  128.54397    btc
3   2025-01-04  607593.0  612902.0  604369.0  609413.0   64.64526    btc
4   2025-01-05  609412.0  613000.0  604300.0  611273.0   58.20556    btc
..         ...       ...       ...       ...       ...        ...    ...
176 2025-06-26  599442.0  603221.0  588752.0  590103.0  143.57173    btc
177 2025-06-27  590131.0  594507.0  585054.0  591150.0  103.22926    btc
178 2025-06-28  591237.0  594409.0  589963.0  592820.0   33.27928    btc
179 2025-06-29  592820.0  598520.0  591501.0  597527.0   52.20595    btc
180 2025-06-30  597580.0  600799.0  584485.0  588365.0  329.82284    btc

[181 rows x 7 columns]

In [121]:
#cria uma lista com tuplas
data_to_insert = [
    (
        row.symbol,
        row.timestamp, 
        row.open, 
        row.high, 
        row.low, 
        row.close, 
        row.volume
        
    )
    for _, row in df_btcbrl.iterrows()
]

In [123]:
conn = pyodbc.connect(connection_string)

#Construindo a query de inserção
insert_query = """
    INSERT INTO bitcoin_stats.dbo.bitcoin_prices VALUES (?, ?, ?, ?, ?, ?, ?)
"""

cursor =  conn.cursor()

#O executemany ja itera atraves dos item da lista
cursor.executemany(insert_query, data_to_insert)
conn.commit()
conn.close()

In [5]:
conn = pyodbc.connect(connection_string)

query = "SELECT * FROM bitcoin_stats.dbo.bitcoin_prices"

df = pd.read_sql(query, conn)

conn.close()

df

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_29076\1960688905.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

      id symbol  timestamp      open      high       low     close     volume
0      2    btc 2025-01-01  583135.0  591233.0  579057.0  588693.0   72.14957
1      3    btc 2025-01-02  588635.0  607111.0  587263.0  599306.0  166.56756
2      4    btc 2025-01-03  599363.0  613793.0  594140.0  607582.0  128.54397
3      5    btc 2025-01-04  607593.0  612902.0  604369.0  609413.0   64.64526
4      6    btc 2025-01-05  609412.0  613000.0  604300.0  611273.0   58.20556
..   ...    ...        ...       ...       ...       ...       ...        ...
176  178    btc 2025-06-26  599442.0  603221.0  588752.0  590103.0  143.57173
177  179    btc 2025-06-27  590131.0  594507.0  585054.0  591150.0  103.22926
178  180    btc 2025-06-28  591237.0  594409.0  589963.0  592820.0   33.27928
179  181    btc 2025-06-29  592820.0  598520.0  591501.0  597527.0   52.20595
180  182    btc 2025-06-30  597580.0  600799.0  584485.0  588365.0  329.82284

[181 rows x 8 columns]

In [17]:
#ADCIONANDO ETHEREUM


par = "ETHBRL"
intervalo = "1d"
data_inicio = "1 Jan 2025"

df_ethbrl= pegar_historico(
        par,
        intervalo,
        data_inicio
    )

df_ethbrl

columns = df_ethbrl.columns[0:6]

df_ethbrl = df_ethbrl[columns]

df_ethbrl['symbol'] = 'ETH'

df_ethbrl.head(3)

   timestamp      open      high       low     close     volume symbol
0 2025-01-01  20803.00  21009.86  20654.09  20911.17   585.7911    ETH
1 2025-01-02  20914.39  21886.69  20871.46  21356.75   973.6267    ETH
2 2025-01-03  21357.14  22512.12  21170.34  22332.58  1234.5078    ETH

In [19]:
data_to_insert_eth = [
    (
        row.symbol,
        row.timestamp, 
        row.open, 
        row.high, 
        row.low, 
        row.close, 
        row.volume
    ) 
    for _, row in df_ethbrl.iterrows()
]

data_to_insert_eth[0:5]

[('ETH',
  Timestamp('2025-01-01 00:00:00'),
  20803.0,
  21009.86,
  20654.09,
  20911.17,
  585.7911),
 ('ETH',
  Timestamp('2025-01-02 00:00:00'),
  20914.39,
  21886.69,
  20871.46,
  21356.75,
  973.6267),
 ('ETH',
  Timestamp('2025-01-03 00:00:00'),
  21357.14,
  22512.12,
  21170.34,
  22332.58,
  1234.5078),
 ('ETH',
  Timestamp('2025-01-04 00:00:00'),
  22336.05,
  22773.18,
  22148.35,
  22687.0,
  592.4939),
 ('ETH',
  Timestamp('2025-01-05 00:00:00'),
  22686.33,
  22793.78,
  22307.44,
  22593.04,
  459.6876)]

In [21]:
conn = pyodbc.connect(connection_string)

#Construindo a query de inserção
insert_query = """
    INSERT INTO bitcoin_stats.dbo.bitcoin_prices VALUES (?, ?, ?, ?, ?, ?, ?)
"""

cursor =  conn.cursor()

#O executemany ja itera atraves dos item da lista
cursor.executemany(insert_query, data_to_insert_eth)
conn.commit()
conn.close()

In [23]:
#inserindo os dados do etherium
conn = pyodbc.connect(connection_string)

query = "SELECT * FROM bitcoin_stats.dbo.bitcoin_prices"

df = pd.read_sql(query, conn)

conn.close()

df

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_29076\1960688905.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,id,symbol,timestamp,open,high,low,close,volume
0,2,btc,2025-01-01,583135.00,591233.00,579057.00,588693.00,72.14957
1,3,btc,2025-01-02,588635.00,607111.00,587263.00,599306.00,166.56756
2,4,btc,2025-01-03,599363.00,613793.00,594140.00,607582.00,128.54397
3,5,btc,2025-01-04,607593.00,612902.00,604369.00,609413.00,64.64526
4,6,btc,2025-01-05,609412.00,613000.00,604300.00,611273.00,58.20556
...,...,...,...,...,...,...,...,...
365,367,ETH,2025-07-04,14091.89,14147.69,13460.72,13700.96,1486.55900
366,368,ETH,2025-07-05,13703.99,13820.12,13590.00,13743.60,800.94060
367,369,ETH,2025-07-06,13746.50,14209.19,13671.88,14062.20,1029.75690
368,370,ETH,2025-07-07,14062.33,14154.82,13754.67,13921.28,1686.41650
369,371,ETH,2025-07-08,13915.73,14331.45,13821.83,14250.39,1423.80120

In [25]:
df.groupby('symbol')['high'].max()

symbol
ETH     22946.94
btc    665446.00
Name: high, dtype: float64

## Problema do ETL 1 : dados duplicados

Caso eu insira novamente no banco de dados, funcionária, e isso é um problema, pois não quero dados duplicados, como fazer para que appenas os dados diferentes sejam inseridos

### Estou continuando esse prójeto 3alguns dias após a ultíma atualização, portanto , existem algumas linhas que já não estao no meu banco
### Sendo as linhas com as seguintes datas

In [5]:
#como estou repetidamente gerando um dataframe com os dados do bitcooin, criei uma funçção que faz esse trabalho 
def gera_dataframe_btcbrl():
    par = "BTCBRL"
    intervalo = "1d"
    data_inicio = "1 Jan 2025"
    
    df_btcbrl = pegar_historico(
            par,
            intervalo,
            data_inicio
        )
    columns = df_btcbrl.columns[0:6]
    df_btcbrl = df_btcbrl[columns]
    df_btcbrl['symbol'] = 'btc'
    return df_btcbrl

#Fiz o mesmo para a consulta dos dados do meu banco de dados
def select_bitcoin_prices():
    conn = pyodbc.connect(connection_string)
    query = "SELECT * FROM bitcoin_stats.dbo.bitcoin_prices"
    df = pd.read_sql(query, conn)
    conn.close()
    return df

In [173]:
df1 = gera_dataframe_btcbrl()
df2 = select_bitcoin_prices()

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_29076\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [175]:
#Como apenas os dados do bitcoin que estao desatualizados no meu banco, preciso filtra apenas os dados de bitcoin
df2 = df2[
    df2['symbol'] == 'btc'
]

#percebe-se que nao há os dados de julho
df2.tail(5)

      id symbol  timestamp      open      high       low     close     volume
176  178    btc 2025-06-26  599442.0  603221.0  588752.0  590103.0  143.57173
177  179    btc 2025-06-27  590131.0  594507.0  585054.0  591150.0  103.22926
178  180    btc 2025-06-28  591237.0  594409.0  589963.0  592820.0   33.27928
179  181    btc 2025-06-29  592820.0  598520.0  591501.0  597527.0   52.20595
180  182    btc 2025-06-30  597580.0  600799.0  584485.0  588365.0  329.82284

In [70]:
from datetime import datetime

#provando que estou executando esse teste em julho
datetime.today().strftime('%Y-%m-%d')

'2025-07-08'

Nessa situação, a soluçaão que me ocorreu seria tratar os dados para comparar exibir apenas a diferença entre o que tem no banco e o os dados puxados da biblioteca da binance e assim inserir os dados filtratados

In [181]:
#re-ordendo a ordem das colunas para ficar parecido com o que já temos no banco, pois por falta de atenção criei uma tabela no banco de dados com as
#as colunas ordenas de maneira diferente da função que criei em python

df1 = df1[
    [
    'symbol','timestamp','open', 'high', 'low', 'close', 'volume'
    ]
]

df1

    symbol  timestamp      open      high       low     close     volume
0      btc 2025-01-01  583135.0  591233.0  579057.0  588693.0   72.14957
1      btc 2025-01-02  588635.0  607111.0  587263.0  599306.0  166.56756
2      btc 2025-01-03  599363.0  613793.0  594140.0  607582.0  128.54397
3      btc 2025-01-04  607593.0  612902.0  604369.0  609413.0   64.64526
4      btc 2025-01-05  609412.0  613000.0  604300.0  611273.0   58.20556
..     ...        ...       ...       ...       ...       ...        ...
184    btc 2025-07-04  596003.0  596819.0  583817.0  590070.0   87.48093
185    btc 2025-07-05  590075.0  592141.0  587640.0  591031.0   40.89140
186    btc 2025-07-06  591032.0  598100.0  588604.0  597261.0   59.85843
187    btc 2025-07-07  597387.0  599689.0  590327.0  592779.0   98.91907
188    btc 2025-07-08  592779.0  597000.0  588717.0  595869.0   78.50896

[189 rows x 7 columns]

In [179]:
#realizo o merge
diff_df = df1.merge(
    df2,
    on='timestamp',
    how='left',
    indicator=True, #irá exibir a qual dataframe pertence a linha
    suffixes=('', '_df2')  # altero os sufixos para manter o nome original das colunas
)

result = diff_df[diff_df['_merge'] == 'left_only'] #filtrando apenas as linhas diferentes do df1

result

,symbol,timestamp,open,high,low,close,volume,id,symbol_df2,open_df2,high_df2,low_df2,close_df2,volume_df2,_merge
181,btc,2025-07-01,585957.0,587709.0,576183.0,579322.0,151.10691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
182,btc,2025-07-02,579322.0,596329.0,576061.0,592307.0,121.18376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
183,btc,2025-07-03,592363.0,599974.0,591968.0,596002.0,112.06527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
184,btc,2025-07-04,596003.0,596819.0,583817.0,590070.0,87.48093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
185,btc,2025-07-05,590075.0,592141.0,587640.0,591031.0,40.89140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
186,btc,2025-07-06,591032.0,598100.0,588604.0,597261.0,59.85843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
187,btc,2025-07-07,597387.0,599689.0,590327.0,592779.0,98.91907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
188,btc,2025-07-08,592779.0,597000.0,588717.0,595869.0,78.50896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

A lógica acima, apesar de simples, já resolve o meu problema, basta agora apenas eu juntar tudo em uma função só, para que eu consulte a base da binance, consulte a base do banco de dados, compare os dados, selecione apenas a diferença e logo após, fazer a inserção da diferenã no banco de dados

O merge considera apenas o timestqamp, mas posso ter timestamp iguais para symbols diferente, também terei que ter certeza que estou comparando o timestamp do symbol correto

In [43]:
def retorna_diferença():
    df1 = gera_dataframe_btcbrl()
    df2 = select_bitcoin_prices()
    
    diff_df = df1.merge(
        df2,
        on='timestamp',
        how='left',
        indicator=True,
        suffixes=('', '_df2')
    )
    
    result = diff_df[diff_df['_merge'] == 'left_only'] 
    
    return result[['symbol', 'timestamp', 'open', 'high', 'low', 'close', 'volume']]
    
retorna_diferença()

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_20016\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    symbol  timestamp      open      high       low     close     volume
370    btc 2025-07-09  596118.0  615800.0  593685.0  612190.0  161.57128
371    btc 2025-07-10  612306.0  646742.0  609673.0  635549.0  298.14237
372    btc 2025-07-11  635550.0  657358.0  630219.0  653600.0  224.54919
373    btc 2025-07-12  653644.0  659898.0  649090.0  653083.0   58.33518
374    btc 2025-07-13  653091.0  661133.0  651874.0  659824.0   31.68672

In [85]:
#Criando função para  formatar os dados de forma que possam ser inseridos no banco de dados
def formatar_dados(dados):
    dados_formatados = [
        (
        row.symbol,
        row.timestamp, 
        row.open, 
        row.high, 
        row.low, 
        row.close, 
        row.volume
        ) 
        for _, row in retorna_diferença().iterrows()
    ]

    return dados_formatados

In [59]:
#criando função para inserir no banco de dados
def insere_no_banco(dados_formatados):
    conn = pyodbc.connect(connection_string)

    #Construindo a query de inserção
    insert_query = """
        INSERT INTO bitcoin_stats.dbo.bitcoin_prices VALUES (?, ?, ?, ?, ?, ?, ?)
    """
    
    cursor =  conn.cursor()
    
    #O executemany ja itera atraves dos item da lista
    cursor.executemany(insert_query, dados_formatados)
    conn.commit()
    conn.close()

In [87]:
#sxecutando as funções
dados = retorna_diferença()
dados_formatados = formatar_dados(dados)
insere_no_banco(dados_formatados)

#verificando as anterações no banco
df = select_bitcoin_prices()
df = df[df['symbol'] == 'btc']
df.tail(10)

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_20016\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_20016\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_20016\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

      id symbol  timestamp      open      high       low     close     volume
176  178    btc 2025-06-26  599442.0  603221.0  588752.0  590103.0  143.57173
177  179    btc 2025-06-27  590131.0  594507.0  585054.0  591150.0  103.22926
178  180    btc 2025-06-28  591237.0  594409.0  589963.0  592820.0   33.27928
179  181    btc 2025-06-29  592820.0  598520.0  591501.0  597527.0   52.20595
180  182    btc 2025-06-30  597580.0  600799.0  584485.0  588365.0  329.82284
370  372    btc 2025-07-09  596118.0  615800.0  593685.0  612190.0  161.57128
371  373    btc 2025-07-10  612306.0  646742.0  609673.0  635549.0  298.14237
372  374    btc 2025-07-11  635550.0  657358.0  630219.0  653600.0  224.54919
373  375    btc 2025-07-12  653644.0  659898.0  649090.0  653083.0   58.33518
374  376    btc 2025-07-13  653091.0  663329.0  651874.0  661578.0   38.29753

In [83]:
dados_formatados = formatar_dados(dados)
dados_formatados

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_20016\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    symbol  timestamp      open      high       low     close     volume
370    btc 2025-07-09  596118.0  615800.0  593685.0  612190.0  161.57128
371    btc 2025-07-10  612306.0  646742.0  609673.0  635549.0  298.14237
372    btc 2025-07-11  635550.0  657358.0  630219.0  653600.0  224.54919
373    btc 2025-07-12  653644.0  659898.0  649090.0  653083.0   58.33518
374    btc 2025-07-13  653091.0  663329.0  651874.0  661355.0   38.13371

In [73]:
df = select_bitcoin_prices()
df = df[df['symbol'] == 'btc']
df.tail(5)

C:\Users\FilipeQueirozdeAbreu\AppData\Local\Temp\ipykernel_20016\1874937847.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

      id symbol  timestamp      open      high       low     close     volume
176  178    btc 2025-06-26  599442.0  603221.0  588752.0  590103.0  143.57173
177  179    btc 2025-06-27  590131.0  594507.0  585054.0  591150.0  103.22926
178  180    btc 2025-06-28  591237.0  594409.0  589963.0  592820.0   33.27928
179  181    btc 2025-06-29  592820.0  598520.0  591501.0  597527.0   52.20595
180  182    btc 2025-06-30  597580.0  600799.0  584485.0  588365.0  329.82284