In [43]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\filipequeirozdeabreu\anaconda3\lib\site-packages (0.21.0)

In [81]:
import requests
import pandas as pd
import pyodbc
from datetime import datetime
from pegar_historico import pegar_historico
from dotenv import load_dotenv
import os
import urllib.parse

In [39]:
par = "BTCBRL"
intervalo = "1d"
data_inicio = "1 Jan 2025"

df_btcbrl = pegar_historico(
        par,
        intervalo,
        data_inicio
    )

#filtrado as colunas
df_btcbrl = df_btcbrl[
    ['timestamp','open','low','high','close','volume']
]

df_btcbrl.head(5)

   timestamp      open       low      high     close     volume
0 2025-01-01  583135.0  579057.0  591233.0  588693.0   72.14957
1 2025-01-02  588635.0  587263.0  607111.0  599306.0  166.56756
2 2025-01-03  599363.0  594140.0  613793.0  607582.0  128.54397
3 2025-01-04  607593.0  604369.0  612902.0  609413.0   64.64526
4 2025-01-05  609412.0  604300.0  613000.0  611273.0   58.20556

In [93]:
#for _, row in df_btcbrl.iterrows():
    #print(row['close'])

In [67]:
load_dotenv()  # Carrega variÃ¡veis do .env

conn = psycopg2.connect(
    host=os.getenv('DB_HOST'),
    database=os.getenv('DB_NAME'),
    user=os.getenv('DB_USER'),
    password=os.getenv('DB_PASSWORD'),
    port=os.getenv('DB_PORT')
)

OperationalError: connection to server at "bitcoin-etl.cdemwvigpaz4.us-east-1.rds.amazonaws.com" (52.201.94.121), port 1433 failed: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

In [129]:
#tetanddo com pyodbc
#Encrypt=yes;
#TrustServerCertificate=no;

password_encoded = urllib.parse.quote_plus(os.getenv('DB_PASSWORD'))

connection_string = f"""
    DRIVER={{ODBC Driver 18 for SQL Server}};
    SERVER={os.getenv('DB_HOST')},{os.getenv('DB_PORT')};
    DATABASE={os.getenv('DB_NAME')};
    UID={os.getenv('DB_USER')};
    PWD={os.getenv("DB_PASSWORD")};
    Encrypt=yes;
    TrustServerCertificate=yes;
"""

conn = pyodbc.connect(connection_string)

query = "SELECT * FROM bitcoin_data"
df = pd.read_sql(query, conn)

InterfaceError: ('28000', '[28000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Login failed for user \'filipe\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Cannot open database "bitcoin_etl" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Login failed for user \'filipe\'. (18456); [28000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Cannot open database "bitcoin_etl" requested by the login. The login failed. (4060)')

In [107]:
import pymssql
import pandas as pd
import os

# ConfiguraÃ§Ã£o com pymssql (mais simples que pyodbc)
try:
    print("ðŸ”„ Conectando com pymssql...")
    
    conn = pymssql.connect(
        server=os.getenv('DB_HOST'),
        user=os.getenv('DB_USER'),
        password=os.getenv('DB_PASSWORD'),
        database=os.getenv('DB_NAME'),
        port=os.getenv('DB_PORT'),
        timeout=30,
        login_timeout=30
    )
    
    print("âœ… ConexÃ£o pymssql estabelecida!")
    
    # Consultar dados
    df = pd.read_sql("SELECT * FROM bitcoin_data", conn)
    
    print(f"ðŸ“Š Total de registros: {len(df)}")
    print(f"ðŸ“‹ Colunas: {list(df.columns)}")
    print("\nðŸ” Primeiros 5 registros:")
    print(df.head())
    
    # EstatÃ­sticas bÃ¡sicas
    print(f"\nðŸ“ Shape: {df.shape}")
    print("ðŸ”¢ Tipos de dados:")
    print(df.dtypes)
    
except Exception as e:
    print(f"âŒ Erro pymssql: {e}")
    print("\nðŸ’¡ Verifique:")
    print("1. Se a instÃ¢ncia RDS estÃ¡ rodando")
    print("2. Se o Security Group permite porta 1433")
    print("3. Se as credenciais estÃ£o corretas")
    
finally:
    if 'conn' in locals():
        conn.close()
        print("ðŸ”’ ConexÃ£o fechada.")

# FunÃ§Ã£o reutilizÃ¡vel para consultas
def query_bitcoin_data(sql_query):
    """Executa uma consulta SQL e retorna DataFrame"""
    try:
        conn = pymssql.connect(
            server=os.getenv('DB_HOST'),
            user=os.getenv('DB_USER'), 
            password=os.getenv('DB_PASSWORD'),
            database=os.getenv('DB_NAME'),
            port=int(os.getenv('DB_PORT', '1433'))
        )
        
        df = pd.read_sql(sql_query, conn)
        conn.close()
        return df
        
    except Exception as e:
        print(f"Erro na consulta: {e}")
        return None

# Exemplo de uso da funÃ§Ã£o
# df = query_bitcoin_data("SELECT TOP 10 * FROM bitcoin_data ORDER BY timestamp DESC")

ðŸ”„ Conectando com pymssql...
âŒ Erro pymssql: (18456, b'DB-Lib error message 20018, severity 11:\nGeneral SQL Server error: Check messages from the SQL Server\nDB-Lib error message 20018, severity 14:\nGeneral SQL Server error: Check messages from the SQL Server\nDB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (bitcoin-etl.cdemwvigpaz4.us-east-1.rds.amazonaws.com)\nDB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (bitcoin-etl.cdemwvigpaz4.us-east-1.rds.amazonaws.com)\n')

ðŸ’¡ Verifique:
1. Se a instÃ¢ncia RDS estÃ¡ rodando
2. Se o Security Group permite porta 1433
3. Se as credenciais estÃ£o corretas

In [91]:
# Verificar todos os drivers ODBC disponÃ­veis
print("Drivers ODBC disponÃ­veis:")
drivers = pyodbc.drivers()
for driver in drivers:
    print(f"  - {driver}")

# Verificar especificamente drivers do SQL Server
sql_server_drivers = [d for d in drivers if 'SQL Server' in d]
print(f"\nDrivers do SQL Server encontrados: {len(sql_server_drivers)}")
for driver in sql_server_drivers:
    print(f"  - {driver}")

if not sql_server_drivers:
    print("\nâŒ Nenhum driver do SQL Server encontrado!")
    print("VocÃª precisa instalar o driver ODBC do SQL Server.")
else:
    print(f"\nâœ… Use um destes drivers na connection string: {sql_server_drivers[0]}")

Drivers ODBC disponÃ­veis:
  - SQL Server
  - SQL Server Native Client 11.0
  - ODBC Driver 11 for SQL Server
  - ODBC Driver 18 for SQL Server
  - Microsoft Access Driver (*.mdb, *.accdb)
  - Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
  - Microsoft Access Text Driver (*.txt, *.csv)
  - Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)

Drivers do SQL Server encontrados: 4
  - SQL Server
  - SQL Server Native Client 11.0
  - ODBC Driver 11 for SQL Server
  - ODBC Driver 18 for SQL Server

âœ… Use um destes drivers na connection string: SQL Server

In [ ]:
cursor = conn.cursor()

cursor.execute("""
SELECT * FROM bitcoin_data
""")

In [109]:
conn = psycopg2.connect(
    host='bitcoin-etl.cdemwvigpaz4.us-east-1.rds.amazonaws.com.BitCoinETL',
    database='BitCoinETL',
    user='filipe',
    password='#High!LevelDB',
    port=1433
)

cursor = conn.cursor()

cursor.execute("""
SELECT * FROM bitcoin_data
""")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe3 in position 119: invalid continuation byte

In [17]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [ ]:
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE bitcoin_prices (
    id SERIAL PRIMARY KEY,
    symbol VARCHAR(10),
    timestamp TIMESTAMP,
    open DECIMAL(18, 8),
    high DECIMAL(18, 8),
    low DECIMAL(18, 8),
    close DECIMAL(18, 8),
    volume DECIMAL(18, 8)
);
""")